In [1]:
#pip install pandas
#pandas
import pandas as pd
path=r"C:\learning\github\main\python-for-insilico-drug-design\data\cancer_data_final.xlsx"
data=pd.read_excel(path)
data

    Unnamed: 0                    Cancer group/site  Year  Mortality Count
0            0  Acute lymphoblastic leukaemia (ALL)  1982                4
1            1  Acute lymphoblastic leukaemia (ALL)  1983               15
2            2  Acute lymphoblastic leukaemia (ALL)  1984                7
3            3  Acute lymphoblastic leukaemia (ALL)  1985                7
4            4  Acute lymphoblastic leukaemia (ALL)  1986               10
5            5  Acute lymphoblastic leukaemia (ALL)  1987                6
6            6  Acute lymphoblastic leukaemia (ALL)  1988                3
7            7  Acute lymphoblastic leukaemia (ALL)  1989                4
8            8  Acute lymphoblastic leukaemia (ALL)  1990                1
9            9  Acute lymphoblastic leukaemia (ALL)  1991                1
10          10  Acute lymphoblastic leukaemia (ALL)  1992                3
11          11  Acute lymphoblastic leukaemia (ALL)  1993                1
12          12  Acute lymphoblastic leukaemia (ALL)  1994                3
13          13  Acute lymphoblastic leukaemia (ALL)  1995                3
14          14  Acute lymphoblastic leukaemia (ALL)  1996                2
15          15  Acute lymphoblastic leukaemia (ALL)  1997                1
16          16  Acute lymphoblastic leukaemia (ALL)  1998                3
17          17  Acute lymphoblastic leukaemia (ALL)  1999                0
18          18                         Brain Cancer  1982                4
19          19                         Brain Cancer  1983               15
20          20                         Brain Cancer  1984               12
21          21                         Brain Cancer  1985              127
22          22                         Brain Cancer  1986               21
23          23                         Brain Cancer  1987               21
24          24                         Brain Cancer  1988               21
25          25                         Brain Cancer  1989                4
26          26                         Brain Cancer  1990               23
27          27                         Brain Cancer  1991               34
28          28                         Brain Cancer  1992              445
29          29                         Brain Cancer  1993                1
30          30                         Brain Cancer  1994                3
31          31                         Brain Cancer  1995                3
32          32                         Brain Cancer  1996                2
33          33                         Brain Cancer  1997                1
34          34                         Brain Cancer  1998               44
35          35                         Brain Cancer  1999               45

In [3]:
#head
data.head()
data.head(10)

   Unnamed: 0                    Cancer group/site  Year  Mortality Count
0           0  Acute lymphoblastic leukaemia (ALL)  1982                4
1           1  Acute lymphoblastic leukaemia (ALL)  1983               15
2           2  Acute lymphoblastic leukaemia (ALL)  1984                7
3           3  Acute lymphoblastic leukaemia (ALL)  1985                7
4           4  Acute lymphoblastic leukaemia (ALL)  1986               10
5           5  Acute lymphoblastic leukaemia (ALL)  1987                6
6           6  Acute lymphoblastic leukaemia (ALL)  1988                3
7           7  Acute lymphoblastic leukaemia (ALL)  1989                4
8           8  Acute lymphoblastic leukaemia (ALL)  1990                1
9           9  Acute lymphoblastic leukaemia (ALL)  1991                1

In [5]:
#head
data.tail()
data.tail(10)

    Unnamed: 0 Cancer group/site  Year  Mortality Count
26          26      Brain Cancer  1990               23
27          27      Brain Cancer  1991               34
28          28      Brain Cancer  1992              445
29          29      Brain Cancer  1993                1
30          30      Brain Cancer  1994                3
31          31      Brain Cancer  1995                3
32          32      Brain Cancer  1996                2
33          33      Brain Cancer  1997                1
34          34      Brain Cancer  1998               44
35          35      Brain Cancer  1999               45

In [6]:
data.describe()

       Unnamed: 0         Year  Mortality Count
count   36.000000    36.000000         36.00000
mean    17.500000  1990.500000         25.00000
std     10.535654     5.261722         75.51575
min      0.000000  1982.000000          0.00000
25%      8.750000  1986.000000          2.75000
50%     17.500000  1990.500000          4.00000
75%     26.250000  1995.000000         16.50000
max     35.000000  1999.000000        445.00000

In [8]:
#getting individual columns
columns=["Year","Mortality Count"]
data[columns]

    Year  Mortality Count
0   1982                4
1   1983               15
2   1984                7
3   1985                7
4   1986               10
5   1987                6
6   1988                3
7   1989                4
8   1990                1
9   1991                1
10  1992                3
11  1993                1
12  1994                3
13  1995                3
14  1996                2
15  1997                1
16  1998                3
17  1999                0
18  1982                4
19  1983               15
20  1984               12
21  1985              127
22  1986               21
23  1987               21
24  1988               21
25  1989                4
26  1990               23
27  1991               34
28  1992              445
29  1993                1
30  1994                3
31  1995                3
32  1996                2
33  1997                1
34  1998               44
35  1999               45

In [10]:
#filtering 
len(data[data["Mortality Count"]>10])

12

In [14]:
#multilple filtering
data[(data["Mortality Count"]>10)&(data["Year"]>1995)&(data["Year"]<1999)]

    Unnamed: 0 Cancer group/site  Year  Mortality Count
34          34      Brain Cancer  1998               44

In [19]:
#sorting of the data
data.sort_values(["Year","Mortality Count"],ascending=[False,True])

    Unnamed: 0                    Cancer group/site  Year  Mortality Count
17          17  Acute lymphoblastic leukaemia (ALL)  1999                0
35          35                         Brain Cancer  1999               45
16          16  Acute lymphoblastic leukaemia (ALL)  1998                3
34          34                         Brain Cancer  1998               44
15          15  Acute lymphoblastic leukaemia (ALL)  1997                1
33          33                         Brain Cancer  1997                1
14          14  Acute lymphoblastic leukaemia (ALL)  1996                2
32          32                         Brain Cancer  1996                2
13          13  Acute lymphoblastic leukaemia (ALL)  1995                3
31          31                         Brain Cancer  1995                3
12          12  Acute lymphoblastic leukaemia (ALL)  1994                3
30          30                         Brain Cancer  1994                3
11          11  Acute lymphoblastic leukaemia (ALL)  1993                1
29          29                         Brain Cancer  1993                1
10          10  Acute lymphoblastic leukaemia (ALL)  1992                3
28          28                         Brain Cancer  1992              445
9            9  Acute lymphoblastic leukaemia (ALL)  1991                1
27          27                         Brain Cancer  1991               34
8            8  Acute lymphoblastic leukaemia (ALL)  1990                1
26          26                         Brain Cancer  1990               23
7            7  Acute lymphoblastic leukaemia (ALL)  1989                4
25          25                         Brain Cancer  1989                4
6            6  Acute lymphoblastic leukaemia (ALL)  1988                3
24          24                         Brain Cancer  1988               21
5            5  Acute lymphoblastic leukaemia (ALL)  1987                6
23          23                         Brain Cancer  1987               21
4            4  Acute lymphoblastic leukaemia (ALL)  1986               10
22          22                         Brain Cancer  1986               21
3            3  Acute lymphoblastic leukaemia (ALL)  1985                7
21          21                         Brain Cancer  1985              127
2            2  Acute lymphoblastic leukaemia (ALL)  1984                7
20          20                         Brain Cancer  1984               12
1            1  Acute lymphoblastic leukaemia (ALL)  1983               15
19          19                         Brain Cancer  1983               15
0            0  Acute lymphoblastic leukaemia (ALL)  1982                4
18          18                         Brain Cancer  1982                4

In [20]:
#getting the maximum and minum values
data.max()

Unnamed: 0                     35
Cancer group/site    Brain Cancer
Year                         1999
Mortality Count               445
dtype: object

In [21]:
data.min()

Unnamed: 0                                             0
Cancer group/site    Acute lymphoblastic leukaemia (ALL)
Year                                                1982
Mortality Count                                        0
dtype: object

In [ ]:
#saving the data
data.sort_values(["Year","Mortality Count"],ascending=[False,True]).to_excel("sorted year.xlsx")